Repository zuri-training/auth-wiki-team7, pull requests merged in 2022-08, with the labels that each got.

#56 Signup page - MAIN
  frontend/signup/images/cp.png
  frontend/signup/signup.css
  frontend/signup/signup.html
  frontend/signup/signup.js
Labels: frontend

#82 Create greetings.yml
  .github/workflows/greetings.yml
Labels: Backend

#81 Create django.yml
  .github/workflows/django.yml
Labels: Backend

#79 Login page
  frontend/login/login.css
  frontend/login/login.html
  frontend/login/login.js
Labels: frontend

#92 Fn team page
  frontend/product-page/product-page.css
  frontend/product-page/product-page.html
  frontend/product/product.css
  frontend/team/images/Frame 199.svg
  frontend/team/images/Frame 200.svg
  frontend/team/images/Frame 201.svg
  frontend/team/images/Frame 202.svg
  frontend/team/images/Frame 203.svg
  frontend/team/images/Frame 204.svg
  frontend/team/images/Frame 205.svg
  frontend/team/images/Frame 206.svg
  frontend/team/images/Frame 207.svg
  frontend/team/images/Frame 208.svg
  frontend/team/images/undraw_team_collaboration_re_ow29 3.svg
  frontend/team/team.css
  frontend/team/team.html
  frontend/team/team.js
Labels: frontend

#91 Fn product
  frontend/product-page/product-page.css
  frontend/product/product.css
  frontend/product/product.html
Labels: frontend

#90 Fn products supported
  frontend/product-page/product-page.css
  frontend/product-page/product-page.html
  frontend/product-page/product-page.js
Labels: frontend

#88 Integrate sign up page.
  backend/account/forms.py
  backend/account/templates/signup-old.html
  backend/account/templates/signup.html
  backend/static/images/cp.png
  backend/static/js/signup.js
  backend/static/styles/base.css
  backend/static/styles/signup.css
Labels: Backend, Integration

#72 Fn landing page
  frontend/Images/Frame 133.png
  frontend/Images/Frame 232.png
  frontend/Images/Frame 234.png
  frontend/Images/Frame 235.png
  frontend/Images/Frame 249.png
  frontend/Images/Frame 29.png
  frontend/Images/Frame 291.png
  frontend/Images/Group Discussion.png
  frontend/Images/PRODUCT pythonf 1.png
  frontend/Images/PRODUCT pythonf 2.png
  frontend/Images/guidelines.png
  frontend/Images/idea.png
  frontend/Images/js.png
  frontend/Images/jsblack.png
  frontend/Images/python.png
  frontend/Images/pythonblack.png
  frontend/Images/siren.png
  frontend/Images/terms_img.png
  frontend/Images/undraw_developer_activity_re_39tg 3.png
  frontend/Images/undraw_team_collaboration_re_ow29 2.png
  frontend/Js/script.js
  frontend/css/base.css
  frontend/css/landing.css
  frontend/index.html
  frontend/overlays/search.css
  frontend/overlays/search.html
Labels: frontend

#71 Work on about us page
  frontend/about-us/about-us.css
  frontend/about-us/about-us.html
  frontend/about-us/about-us.js
  frontend/about-us/images/about.png
  frontend/about-us/images/bro.svg
  frontend/about-us/images/content creator.svg
  frontend/about-us/images/cp.png
  frontend/about-us/images/faq.png
  frontend/about-us/images/thinker.svg
Labels: frontend

#134 Nodejs login
  nodejs-backend/.gitignore
  nodejs-backend/README.md
  nodejs-backend/package-lock.json
  nodejs-backend/package.json
  nodejs-backend/public/css/base.css
  nodejs-backend/public/css/login.css
  nodejs-backend/public/css/style.css
  nodejs-backend/public/images/cp.png
  nodejs-backend/public/images/login.png
  nodejs-backend/public/js/login.js
  nodejs-backend/server.js
  nodejs-backend/views/pages/login.ejs
Labels: Backend, Nodejs

#102 Faqs
  frontend/faqs/FAQS.css
  frontend/faqs/FAQS.html
  frontend/faqs/FAQS.js
  frontend/faqs/image/64652 2.png
  frontend/faqs/image/Vector.svg
  frontend/faqs/image/call-outgoing.png
  frontend/faqs/image/contact-us-banner.png
  frontend/faqs/image/cp.png
  frontend/faqs/image/whatsapp.png
Labels: frontend

#155 Added Haprinz
  contributions/HasPrinz.md
Labels: Contributions

#168 add success page
  frontend/success-page/success_page/success-page.css
  frontend/success-page/success_page/success-page.html
Labels: frontend
